.video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 400ms ease 0ms;
}

.tiny {
    filter: blur(10px);
    transform: scale(1);
    transition: visibility 0ms ease 400ms;
}