.ban-short-links {
    position: relative;
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ban-short-links ul li {
    float: left;
    /* width: 25%;
      */
    padding: 5px;
    transition: all 0.5s ease;
    transform: translateY(30px);
    opacity: 0;
}

.ban-short-links.ani ul li {
    transform: translateY(0px);
    opacity: 1;
}

.ban-short-links ul li div {
    text-align: center;
    /* border: 1px solid #626262; */
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    height: 75px;
    overflow: hidden;
    /* background: #181818c7; */
    /* background: #6a5353c7; */
    background: #fff;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.ban-short-links ul li div:hover {
    border: 1px solid #8297ff;
    background: #0d2cc3;
    /* box-shadow: 0px 3px 8px 3px #00000042; */
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.fclick {
    position: absolute;
    cursor: pointer;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 5;
}

.ban-short-links ul li div img {
    width: 30px;
    margin-bottom: 14px;
}

.ban-short-links ul li div h4 {
    /* color: #fff; */
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.ban-short-links ul li div:hover>h4 {
    color: #fff;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 1150px) {
    .ban-short-links ul li div h4 {
        font-size: 12.5px;
    }
    .ban-short-links ul li {
        padding: 2px;
    }
    .ban-short-links ul li div {
        padding: 10px;
    }
}

@media screen and (max-width: 992px) {
    .ban-short-links ul li div {
        background: #000000ba;
        /* background: #6a5353c7; */
        background: #fff;
    }
}

@media screen and (max-width: 1150px) {
    .ban-short-links ul li div {
        height: 73px;
    }
}